<h1>New Camper Form</h1>



<%=form_for @camper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.submit "Submit Application"  %>
<%end%>





   
     
       
 

<%# 
it works doesn't save
%= collection_select :activity, :activity_id, Activity.all, :id, :name 
%>